<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="grey-nav" style="background: lightgray; padding: 16px" >
  <h2>Simple Airbnb</h2>
  <a href="#" class="btn-medium">Add flat</a>
  </div>
    <%= yield %>
  </body>
</html>
